<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Route Builder</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body ng-app="myApp">
    <main ng-controller="MainController as ctrl">
      <div class="route-builder">
        <div class="routes-list">
          <input type="text" id="suggest" placeholder="введите адрес" ng-model='location'/>
          <ul ui-sortable="ctrl.sortableOptions" ng-model="locations">
            <li ng-repeat="location in locations track by $index" ng-cloak>
              <div class="location">
                <div class="location-name">
                  {{($index + 1) + ')'}} {{location.name}}
                </div>
                <div class="location-delete" ng-click="ctrl.removeLocation($index)">
                  ×
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="map-container">
          <div id="map"></div>
        </div>
      </div>
    </main>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/jquery-ui//jquery-ui.min.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular-ui-sortable/sortable.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main-controller.js"></script>
  </body>
</html>
