*{
  box-sizing: border-box;
}

.route-builder{
  padding: 1.5em;
  width: 1000px;
  margin: auto;
}

.routes-list {
  display: inline-block;
  width: 35%;
  vertical-align: top;
  padding-right: 3em;
}

.routes-list input {
  margin-bottom: 1em;
  width: 300px;
}

.routes-list ul {
  margin: 0;
  padding: 0;
}

.routes-list li {
  position: relative;
  list-style-type: none;
  line-height: 1.5em;
}

/*class added during dragging*/
.ui-sortable-helper .location{
  border: 1px dotted black;
  padding: 0.22em;
}

.location{
  width: 100%;
}

.location-name {
  display: inline-block;
  width: 90%;
  cursor: move;
}

.location-delete{
  display: inline-block;
  width: 10%;
  text-align: right;
  vertical-align: top;
  position: absolute;
  top: -0.1em;
  font-size: 0.8em;
  font-weight: bold;
  margin-left: 1em;
  color: red;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.location-delete:hover {
  font-size: 0.9em;
  cursor: pointer;
}

.dndDraggingSource {
    display: none;
}

.dndPlaceholder {
  background-color: #ddd;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}


.map-container {
  display: inline-block;
  width: 60%;
}

#map{
  display: inline-block;
  height: 600px;
  width: 600px;
}
